HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

# AWS Properties (Enpoints, Usernames, Pwd's) etc.
src/main/resources/aws.properties